/* css/transition.css */

/* 页面淡出动画 */
.page-fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* 页面淡入动画 */
.page-fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

/* 初始状态，默认透明 */
body {
    opacity: 0;
}
